@using System.Globalization
@using Q42.DbTranslations.ViewModels
@model CultureIndexViewModel
@{
  Layout.Title = "Localization";
}

<h2>@T("Orchard Translations")</h2>
@if (Model.TranslationStates.Count == 0)
{
  @T("No translations available.")
}
else
{
  <table class="items">
    @foreach (var translation in Model.TranslationStates.OrderBy(c => c.Key))
    {
      var culture = CultureInfo.GetCultureInfoByIetfLanguageTag(translation.Key);
      <tr>
        <td>
          @Html.ActionLink(
              culture.IetfLanguageTag + " - " + culture.DisplayName,
              "Culture",
              new { culture = culture.Name })
        </td>
        <td>
          @if (Model.NumberOfStringsInDefaultCulture < 200)
          {
            @T("There are only {0} translatable strings. This doesn't seem to be enough to run all of Orchard.", Model.NumberOfStringsInDefaultCulture)
            <br />
            <a href="@Url.Action("FromSource", new { culture = culture })">@T("Click here to pre-fill the database using generate from code and a cached *.po file.")</a>
          }
          else if (translation.Value.NumberOfTranslatedStrings < 10)
          {
            @T("Only {0} translated strings out of {1}.", translation.Value.NumberOfTranslatedStrings, Model.NumberOfStringsInDefaultCulture)
            <br />
            <a href="@Url.Action("ImportCachedPo", new { culture = culture })">@T("Click here to pre-fill the database using a cached *.po file.")</a>
          }
          else
          {
            @T("{0} translated strings out of {1}.", translation.Value.NumberOfTranslatedStrings, Model.NumberOfStringsInDefaultCulture)
          }
        </td>
      </tr>
    }
  </table>
}

@if (Model.CanUpload)
{
  <p>&nbsp;</p>
  
  <div class="content">
    <h2>@T("Generate from code")</h2>
    <p>@T("When the sourcecode gets updated and new translations get added, these new translations need to be added to the database. This option only adds non-existant translations to the database. It can do no harm!")</p>
    @Html.ActionLink("Generate!", "FromSource", null, new { @class = "button" })
  </div>
  
  <p>&nbsp;</p>
  
  <div class="content">
    <h2>@T("Upload a new or updated translation file"):</h2>
    <p>@T("The community is constantly adding new languages and translations, downloadable at <a target=\"_blank\" href=\"http://www.orchardproject.net/localize\">orchardproject.net/localize</a>. You can import the newest version of these *.po files here. Existing translations will not be altered, only new translations will be added. It can do no harm!")</p>
    <form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryTokenOrchard()
    <input type="file" class="fileupload" name="pofile" />
    <input type="submit" class="button" name="submit" value="Upload" />
    </form>
  </div>
}
